@import "mixins";
@import "homePage";
@import "others";
@import "section-left";
@import "section-right";
@import "images&SVGs";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 92.5%;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include change(tab-land) {
    font-size: 66.25%;
  }

  @include change(phone) {
    font-size: 40%;
  }

  @include change(tab-port) {
    font-size: 60%;
  }

  @include change(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 1rem;
  background-color: rgb(0, 183, 255);

  @include change(phone) {
    padding: 0rem;
  }
}

.header {
  background-image: url("");
  background-size: cover;
  height: 95vh;
  width: 98%;
  position: absolute;
  display: flex;
  z-index: 1;
  display: none;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.705);
  border-radius: 1rem;

  @include change(tab-land) {
    font-size: 1.3rem;
  }
  @include change(tab-port) {
    font-size: 1.3rem;
  }

  @include change(phone) {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;
    height: 144vh;
  }
}
